body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

header {
    position:sticky;
    top: 0px;
    left: 0px;
    width: 100%-20px;
    height: fit-content;
    padding: 10px;
    border: 0px;
    margin: 0px;
    background-color: #6386F2;
    display: flex;
}

.title {
    margin: 0px;
    padding: 3px;
    /*background-color: grey; /**/
}

.login {
    display: flex;
    margin: 0px;
    padding: 3px;
    gap: 5px;
    margin-left: auto;
    margin-right: 0px;
    justify-content: right;
    align-items: center;
    /*background-color: grey; /**/
}

.login p {
    text-align: center;
}

.groupings {
    display: flex;
    margin: 0px;
    padding: 3px;
    margin-left: auto;
    margin-right: 0px;
    gap: 5px;
    justify-content: left;
    align-items: center;
    /*background-color: grey; /**/
}

.button {
    justify-content: center;
    text-align: center;
    height: fit-content;
    min-width: 40px;
    background-color: #E0CCCC;
    color: black;
    padding-inline: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 15px;
}
.active-page {
    background-color: #705E5E;
    color: white;
}
.button:hover {
    background-color: #705E5E;
    color: white;
}

.groupings .button {
    justify-content: center;
    text-align: center;
    height: fit-content;
    min-width: 40px;
    background-color: #c5c5c5;
    color: black;
    padding-inline: 7px;
    border-radius: 25px;
}
.groupings .button:hover {
    background-color: #7a7a7a;
    color: white;
}

.groupings .services {
    background-color: #ff8400;
}
.groupings .services:hover {
    background-color: #ad5a00;
    color: white;
}
.groupings .meals {
    background-color: #ffce00;
}
.groupings .meals:hover {
    background-color: #aa8800;
    color: white;
}
.groupings .groceries {
    background-color: #00833e;
}
.groupings .groceries:hover {
    background-color: #004922;
    color: white;
}
.groupings .goods {
    background-color: #c425ff;
}
.groupings .goods:hover {
    background-color: #8719af;
    color: white;
}
.groupings .music {
    background-color: #96e2f8;
}
.groupings .music:hover {
    background-color: #598692;
    color: white;
}

.groupings .active {
    background-color: #7a7a7a;
    color: white;
}

.groupings .active:hover {
    background-color: #7a7a7a;
    color: white;
}


.external-links {
    display: flex;
    margin: 0px;
    padding: 3px;
    margin-left: auto;
    margin-right: 0px;
    gap: 5px;
    justify-content: left;
    align-items: center;
    /*background-color: grey; /**/
}

.external-links .button {
    justify-content: center;
    text-align: center;
    height: fit-content;
    min-width: 40px;
    background-color: #c5c5c5;
    color: black;
    padding-inline: 7px;
    border-radius: 25px;
}
.external-links .button:hover {
    background-color: #7a7a7a;
    color: white;
}
.external-links .active {
    background-color: #7a7a7a;
    color: white;
}

a {
    color: inherit;
    text-decoration: inherit;
}


.inline-map {
    display: flex;
    max-width: 100%;
    max-height: fit-content;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.inline-map img{
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: initial;
    padding: 0px;
    margin: 0px;
}




.directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    width: 100%;
    gap: 10px;
    padding: 3px;
/*    height: 500px;
    overflow: hidden;/**/
    /*background-color: grey; /**/
}
.stall-preview {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 200px;
    border: black;
    border: solid;
    border-width: 2px;
    border-radius: 50px;
    min-width: 400px;
    max-width: 800px;
    overflow:hidden;
    background-color: white; /**/
}
.stall-preview .image {
    margin: 0px;
    padding: 0px;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: wheat; /**/
    display: flex;
    border: black;
    border-right: solid;
    border-width: 2px;
    justify-content: center;
    align-content: center;
}
.stall-preview .image img {
    margin:auto;
    /*background-color: greenyellow; /**/
}
.stall-preview .text {
    margin: 0px;
    padding: 3px;
    height: 100%-6px;
    text-overflow: ellipsis;
    overflow: hidden;
    /*background-color: greenyellow; /**/
    justify-content: right;
}

main {
    margin: 5px;
    padding: 5px;
}



