body {
    margin: 0px;
    padding: 0px;
}

header {
    position:sticky;
    top: 0px;
    left: 0px;
    width: 100%-20px;
    height: fit-content;
    padding: 10px;
    border: 0px;
    margin: 0px;
    background-color: #6386F2;
    display: flex;
}

.title {
    margin: 0px;
    padding: 3px;
    /*background-color: grey; /**/
}

.login {
    display: flex;
    margin: 0px;
    padding: 3px;
    margin-left: auto;
    margin-right: 0px;
    justify-content: right;
    align-items: center;
    /*background-color: grey; /**/
}

.login a {
    text-align: center;
}

.button {
    justify-content: center;
    text-align: center;
    height: fit-content;
    background-color: #E0CCCC;
    color: black;
    margin-left: 5px;
    padding-inline: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
}
.active-page {
    background-color: #705E5E;
    color: white;
}
.button:hover {
    background-color: #705E5E;
    color: white;
}
a {
  color: inherit;
  text-decoration: inherit;
}



.directory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    padding: 3px;
    background-color: grey; /**/
}
.stall-preview {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 200px;
    background-color: white; /**/
}
.stall-preview .image {
    margin: 0px;
    padding: 0px;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: wheat; /**/
    display: flex;
    justify-content: center;
    align-content: center;
}
.stall-preview .image img {
    margin:auto;
    /*background-color: greenyellow; /**/
}
.stall-preview .text {
    margin: 0px;
    padding: 3px;
    height: 100%-6px;
    text-overflow: ellipsis;
    overflow: hidden;
    /*background-color: greenyellow; /**/
    justify-content: right;
}
.map {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    height: auto;
    max-height: 1280px;
    justify-content: center;
}

main {
    margin: 5px;
    padding: 5px;
}